@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
		font-family: 'Signika Negative', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
	strong {
		@apply text-accent;
	}
}
